@media only screen and (min-width: 768px) {
    .post-preview>p:not(.post-meta)>img {
        max-width: 100%!important;
    }
    .intro-header .site-heading,
    .intro-header .post-heading/*,
    .intro-header .page-heading */
    {
        padding: 3em 0 1em 0;
    }
    .intro-header {
        margin: 0;
    }
}
@media only screen and (max-width: 767px) {
    .post-preview>p:not(.post-meta)>img {
        max-width: 100vw!important;
    }
}

footer {
    padding: 0;
}