---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="jumbotron">
    <div class="container">
      <h1 class="post-title-main" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta">{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{% if page.author %}{{ page.author }}{% else %}Peter Ritchie{% endif %}</span></span></p>
    </div>
</div>
<!-- id: {{ page.id }} url: {{ page.url }}  -->
  <div class="post-content markdown-body" itemprop="articleBody">
    {{ content }}
      {% if page.categories.size > 0 %}
      {% capture categories_content %} with <span class="icon-price-category{% if page.categories.size > 1 %}s{% endif %}"></span>: {% endcapture %}
      {% for post_category in page.categories %}
      {% assign category = site.my_categories | where: "slug", post_category %}
      {% if category %}
      {% assign category = category[0] %}
      {% capture categories_content_temp %}{{ categories_content }}<a href="{{ category.url }}">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
      {% assign categories_content = categories_content_temp %}
      {% endif %}
      {% endfor %}
      {% endif %}

      <p class="m-t-3 text-muted font-italic">
          <small>{{ categories_content }}</small>
      </p>
    {% include disqus.html %}
  </div>
</article>
